body{
    background-color: black;
}
p , h1 , h2 ,h3, h4, h5, h6, ol, li, ul {
    color: white;
}
nav{
    border-bottom: 1px solid brown  ;
}
.nav-t{
    display: inline-block;
}
.nav-t ol{
    list-style-type: none;
    padding-left: 0;
}
.nav-t  a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;}